<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062727640974-j4pcal72h825kkn3cufnjiqd16u6fgd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062727640974-j4pcal72h825kkn3cufnjiqd16u6fgd4</string>
	<key>API_KEY</key>
	<string>AIzaSyD4hAJyI6pWMJNHrZzbH2lopw3pVan17SI</string>
	<key>GCM_SENDER_ID</key>
	<string>1062727640974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCode</string>
	<key>PROJECT_ID</key>
	<string>tutorpedia-se-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorpedia-se-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062727640974:ios:8cf59a00c3bcd44ad166df</string>
</dict>
</plist>